<div class = "col-sm-12"><p><br></p></div>

{{#if shoename}}
<div class = "col-sm-6 fontsize">
<div class = "col-sm-12">{{shoename.title}}</div>
<div class = "col-sm-12"><p><br></p></div>
<div class = "col-sm-10"><img src="{{shoename.pictureURLSuperSize}}"></div>
</div>
{{/if}}


<!--
{{formresponse.term}} <br>
{{formresponse.studentname}} <br>
{{formresponse.storename}} <br>
{{formresponse.storeaddress}} <br>
{{formresponse.storecity}} <br>
{{formresponse.storestate}} <br>
{{formresponse.storeowner}} <br>
{{formresponse.otherInfo}} <br>
-->